@mixin top-style {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-right: 32px;
  &:last-child {
    margin-right: 0;
  }
}

@mixin anchor-reset {
  text-decoration: none;
  color: inherit;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}