@import '../partials/mixins';
@import '../partials/variables';

.best-selling-products {
  padding: 64px 44px;
  display: flex;
  justify-content: space-around;

  .selling-products {
    a {
      @include anchor-reset;
    }

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 16px;
      color: $color-black-1;
    }

    ul {
      @include reset-list;

      li {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 44px;
        }

        a {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          text-decoration-line: underline;
          color: $color-green-1;
        }
      }
    }
  }

  .button-products {
    display: flex;
    justify-content: center;
    width: 160px;
    border-radius: 12px;
    padding: 8px 10px;
    background: $color-grey-2;
    border: 2px solid lightgrey;
    font-weight: 700;

    .button {
      margin-right: 4px;

      &:hover {
        text-decoration: underline;
      }
    }

    .icon-arrow-right {
      display: flex;
      align-items: center;
    }
  }

  .product-cards {
    padding: 16px;
    border: 1px solid $color-grey-3;
    border-radius: 12px;

    .photo {
      img {
        width: 236px;
        height: 180px;
        border-radius: 12px;
      }
    }

    .product-name {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 4px;
      color: $color-black-1;
    }

    .description {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $color-grey-4;
      margin-bottom: 16px;
    }

    .price {
      display: flex;
      justify-content: space-between;

      .value {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $color-black-1;
      }

      a {
        @include anchor-reset;
        &:hover {
          text-decoration: underline;
        }
      }
      .button-cards {
        padding: 6px 12px;
        border-radius: 12px;
        border: 2px solid $color-green-4;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        background: $color-green-1;
        color: $color-white-1;
      }
    }
  }
}