@import '../partials/mixins';
@import '../partials/variables';

.blog-posts {
  padding: 64px 44px;
  background: $color-white-1;

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    &-left {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: $color-black-1;
    }

    &-right {
      display: flex;
      align-items: center;

      a {
        @include anchor-reset;

        &:hover {
          text-decoration: underline;
        }
      }

      .button-blog {
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: $color-black-1;
      }

      .icon-arrow-right {
        color: $color-green-1;
      }
    }
  }

  .blogs {
    display: flex;
    justify-content: space-between;

    .newest-blog {
      margin-right: 32px;

      &:hover {
        cursor: pointer;
      }

      .background-top {
        padding: 24px;
        border-radius: 12px;
        background: $color-white-1;

        .category {
          text-align: center;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          border-radius: 12px;
          width: 82px;
          //margin-bottom: 150px;
          color: $color-green-1;
          background: $color-green-2;
        }

        img {
          width: 469px;
          height: 150px;
        }
      }

      .background-bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 12px;
        width: 469px;
        height: 150px;
        padding: 24px;
        background: linear-gradient(0deg, rgb(77, 200, 85) 0%, rgba(0, 0, 0, 0) 100%);
      }


      .post-title {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 8px;
        color: $color-white-1;
      }

      .info {
        display: flex;

        .photo {
          display: flex;
          align-items: center;
          margin-right: 8px;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
        }

        .author, .date {
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          margin-right: 16px;
          color: $color-white-1;
        }
      }
    }

    &-item {
      width: 320px;
      height: 360px;
      border-radius: 12px;
      background: rgba(238, 238, 229, 0.31);

      &:hover {
        cursor: pointer;
      }

      .photo {
        margin-bottom: 24px;

        img {
          width: 320px;
          height: 180px;
          border-top-right-radius: 12px;
          border-top-left-radius: 12px;
        }
      }

      .category {
        width: 80px;
        border-radius: 12px;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 8px;
        color: $color-green-1;
        background: $color-green-2;
      }

      .post-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 16px;
        margin-left: 8px;
        color: $color-black-1;
      }

      .info {
        display: flex;

        .author, .date {
          margin-left: 8px;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          margin-right: 16px;
          color: $color-black-1;
        }
      }
    }

    .posts-list {
      &-item {
        display: flex;
        margin-bottom: 32px;

        &:hover {
          cursor: pointer;
        }

        .text {

          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          height: 96px;
          background: rgba(238, 238, 229, 0.31);

          .post-title {
            padding: 4px;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            margin-right: 48px;
            width: 300px;
            color: $color-black-1;
          }

          .info {
            padding: 4px;
            display: flex;
            margin-top: 16px;

            .author, .date {
              margin-right: 16px;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: $color-black-1;
            }
          }
        }

        .photo {
          img {
            width: 96px;
            height: 96px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
          }
        }
      }
    }
  }
}

