.section-headline {
  padding: 64px 44px;
  background: #ffffff; }
  .section-headline .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px; }
    .section-headline .title-left {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: #151515; }
    .section-headline .title-right {
      display: flex;
      align-items: center; }
      .section-headline .title-right a {
        text-decoration: none;
        color: inherit; }
        .section-headline .title-right a:hover {
          text-decoration: underline; }
      .section-headline .title-right .button-headline {
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: #151515; }
      .section-headline .title-right .icon-arrow-right {
        color: #6A983C; }
  .section-headline .product-cards {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .section-headline .product-cards .card {
      padding: 16px;
      border: 1px solid #D1D1D1;
      border-radius: 12px; }
      .section-headline .product-cards .card:last-child {
        margin-right: 0; }
      .section-headline .product-cards .card .photo {
        position: relative; }
        .section-headline .product-cards .card .photo img {
          width: 280px;
          height: 200px;
          border-radius: 12px; }
        .section-headline .product-cards .card .photo:after {
          padding: 0 8px;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 54px;
          height: 18px;
          content: "-36%";
          border-radius: 12px;
          top: 12px;
          left: 12px;
          color: #6A983C;
          background: #F4F8EC; }
      .section-headline .product-cards .card .product-name {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 4px;
        color: #151515; }
      .section-headline .product-cards .card .description {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #575757;
        margin-bottom: 16px; }
      .section-headline .product-cards .card .price {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .section-headline .product-cards .card .price .value {
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: #151515; }
          .section-headline .product-cards .card .price .value-actual {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #151515; }
          .section-headline .product-cards .card .price .value-old {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-decoration-line: line-through;
            color: #A9A9A9; }
        .section-headline .product-cards .card .price a {
          text-decoration: none;
          color: inherit; }
          .section-headline .product-cards .card .price a:hover {
            text-decoration: underline; }
        .section-headline .product-cards .card .price .button-cards {
          padding: 6px 12px;
          border-radius: 12px;
          border: 2px solid #46760A;
          font-weight: 700;
          font-size: 15px;
          line-height: 22px;
          background: #6A983C;
          color: #ffffff; }

/*# sourceMappingURL=sectionHeadline.css.map */
