.content {
  display: flex;
  padding: 64px 44px;
  background: #ffffff; }
  .content .sidebar {
    margin-right: 80px; }
    .content .sidebar .title-categories {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 16px;
      color: #000000; }
    .content .sidebar .categories ul {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 268px; }
      .content .sidebar .categories ul li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #D1D1D1;
        margin-bottom: 12px; }
        .content .sidebar .categories ul li:last-child {
          margin-bottom: 0; }
        .content .sidebar .categories ul li span.categoryName {
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          color: #000000; }
        .content .sidebar .categories ul li span.number {
          width: 32px;
          text-align: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          padding: 0px 8px;
          border-radius: 12px;
          background: #F4F8EC;
          color: #6A983C; }
    .content .sidebar .brands .title-brands {
      margin-top: 48px;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 16px;
      color: #000000; }
    .content .sidebar .brands form ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .content .sidebar .brands form ul li {
        margin-bottom: 12px; }
        .content .sidebar .brands form ul li label {
          width: 150px;
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #000000; }
          .content .sidebar .brands form ul li label input {
            margin-left: 0;
            margin-right: 12px;
            padding: 0;
            width: 20px;
            height: 20px; }
        .content .sidebar .brands form ul li:last-child {
          margin-bottom: 0; }
    .content .sidebar .rating {
      margin-bottom: 48px;
      width: 200px; }
      .content .sidebar .rating .title-rating {
        margin-top: 48px;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 16px;
        color: #000000; }
      .content .sidebar .rating ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .content .sidebar .rating ul li {
          margin-bottom: 12px;
          font-size: 22px; }
          .content .sidebar .rating ul li label {
            display: flex;
            align-items: center; }
            .content .sidebar .rating ul li label input {
              width: 20px;
              height: 20px;
              margin-right: 8px; }
            .content .sidebar .rating ul li label .icon-star-full {
              color: #FDBC15; }
            .content .sidebar .rating ul li label .icon-star-light {
              color: #D1D1D1; }
    .content .sidebar .price .title-price {
      margin-top: 48px;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 16px;
      color: #000000; }
    .content .sidebar .price label input[type=range] {
      width: 200px; }
    .content .sidebar .price label .price-value {
      width: 100px; }
      .content .sidebar .price label .price-value output {
        font-weight: 400;
        font-size: 18px;
        line-height: 19px; }
        .content .sidebar .price label .price-value output#amount {
          padding: 4px 8px;
          border: 1px solid #D1D1D1;
          border-radius: 12px;
          background: #F5F5F5; }
    .content .sidebar .price .buttons {
      margin-top: 12px; }
      .content .sidebar .price .buttons input[type=submit] {
        margin-right: 32px;
        padding: 12px 16px;
        background: #6A983C;
        border: 2px solid #46760A;
        border-radius: 12px;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: #ffffff; }
        .content .sidebar .price .buttons input[type=submit]:hover {
          cursor: pointer;
          background: #92C064;
          color: #000000; }
      .content .sidebar .price .buttons input[type=reset] {
        padding: 12px 16px;
        background: #D1D1D1;
        border: 2px solid #A9A9A9;
        border-radius: 12px;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: #000000; }
        .content .sidebar .price .buttons input[type=reset]:hover {
          cursor: pointer;
          background: #A9A9A9;
          color: #000000; }
  .content .listView .product-cards .card {
    height: 268px;
    margin-bottom: 32px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 12px; }
    .content .listView .product-cards .card:last-child {
      margin-bottom: 0; }
    .content .listView .product-cards .card .photo img {
      width: 268px;
      height: 268px;
      border-radius: 12px; }
    .content .listView .product-cards .card .card-content {
      display: flex;
      padding: 32px; }
      .content .listView .product-cards .card .card-content .content-left {
        margin-right: 120px; }
        .content .listView .product-cards .card .card-content .content-left .title {
          font-weight: 600;
          font-size: 20px;
          line-height: 27px;
          margin-bottom: 4px;
          color: #000000; }
        .content .listView .product-cards .card .card-content .content-left .description {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 8px;
          color: #575757; }
        .content .listView .product-cards .card .card-content .content-left .rating {
          font-size: 18px;
          margin-bottom: 16px; }
          .content .listView .product-cards .card .card-content .content-left .rating .icon-star-full {
            margin-right: -8px;
            color: #92C064; }
          .content .listView .product-cards .card .card-content .content-left .rating .icon-star-light {
            color: #A9A9A9; }
        .content .listView .product-cards .card .card-content .content-left .info {
          width: 250px; }
          .content .listView .product-cards .card .card-content .content-left .info ul {
            margin: 0;
            padding: 0;
            list-style: none; }
            .content .listView .product-cards .card .card-content .content-left .info ul li {
              display: flex;
              justify-content: space-between;
              margin-bottom: 12px; }
              .content .listView .product-cards .card .card-content .content-left .info ul li:last-child {
                margin-bottom: 0; }
              .content .listView .product-cards .card .card-content .content-left .info ul li span {
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #A9A9A9; }
      .content .listView .product-cards .card .card-content .content-right .price .actual-price {
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #46760A; }
      .content .listView .product-cards .card .card-content .content-right .price .old-price {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: line-through;
        margin-bottom: 16px;
        color: #A9A9A9; }
      .content .listView .product-cards .card .card-content .content-right .shipping {
        margin-bottom: 16px; }
        .content .listView .product-cards .card .card-content .content-right .shipping .shippingType {
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 2px;
          color: #A9A9A9; }
        .content .listView .product-cards .card .card-content .content-right .shipping .shippingTime {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #A9A9A9; }
      .content .listView .product-cards .card .card-content .content-right .buttons .product-details {
        text-align: center;
        padding: 8px 12px;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        border-radius: 12px;
        margin-bottom: 4px;
        color: #ffffff;
        background: #6A983C;
        border: 2px solid #46760A; }
        .content .listView .product-cards .card .card-content .content-right .buttons .product-details .icon-arrow-right {
          font-size: 16px; }
      .content .listView .product-cards .card .card-content .content-right .buttons .wishlist {
        padding: 8px 12px;
        border-radius: 12px;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: #151515;
        background: #F5F5F5;
        border: 2px solid #D1D1D1; }

/*# sourceMappingURL=sidebar.css.map */
