@import '../partials/mixins';
@import '../partials/variables';


.header {
  background: whitesmoke;
  padding: 16px 44px;

  .top {
    display: flex;
    border-bottom: 1px solid #151515;
    margin-bottom: 44px;

    &-left {
      flex: 1;
      margin-bottom: 16px;

      span {
        @include top-style;

        &.green {
          @include top-style;
          color: $color-green-1;
        }
      }
    }

    &-right {
      span {
        &.green {
          @include top-style;
          color: $color-green-1;
        }
      }
    }
  }

  .content {
    display: flex;

    .logo {
      display: flex;
      align-items: center;
    }

    .searchbar {
      display: flex;
      //align-items: center;
      padding: 8px 16px;
      background: #F9F9F9;
      border: 1px solid #D1D1D1;
      border-radius: 12px;
      margin-left: 158px;

      .categories {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: $color-black-1;
        margin-right: 48px;

      }

      .space {
        border-right: 1px solid #D1D1D1;
        margin-right: 24px;
      }

      .search-window {
        input[type=text] {
          background: #F9F9F9;
          border: none;
          width: 262px;
          height: 20px;

        }
      }
    }
  }


}