//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "general/header.scss";
@import "general/menu.scss";
@import "sections/categorymenu.scss";
@import "sections/bestSellingProducts.scss";
@import "sections/bestFromFarmers.scss";
@import "sections/sectionHeadline.scss";
@import "sections/blogPosts.scss";
@import "sections/links.scss";
@import "sections/tags.scss";
@import "sections/copyright.scss";
@import "sections/slider.scss";

@import "sections/vegetablesFruits/topSide.scss";


body {
  //margin: 0;
  padding: 0;
  background: #F9F9F9;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  width: 80%;
}

//.container {
//  margin: 0 auto;
//  width: 80%;
//}

