//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


@import "general/header.css";
@import "general/menu.css";
@import "sections/categorymenu.css";

body {
  margin: 0;
  padding: 0;
  background: #F9F9F9;
  font-family: 'Poppins', sans-serif;
}
